body{
    width:100%;
}
.container
{
    display:table;
}
.row
{
width:1400px;

}

#leftcolumn
{

width:50%;


}
#rightcolumn
{

width:50%;
display:flex;
align-items: flex-start;
justify-content:flex-end;
}
button
{
    
    border:none;
    padding:5px;
    width:100px;
     background-color:blue;
     color:white;
    margin-top:5px;
    }

#subcontainer
{
    margin:10px 100px 10px 2.5px;
    display: flex;
}
.divider
{
    width:6px;

}

#signupbutton
{
    width:100%;
}
#footer1
{
    color:black;
    position: relative;
    right:174px;
    font-weight: bolder;
}
#footer2
{
    position: relative;
    right:178px;
}
#signinbutton
{
    width:100%;
}
#scribbler1
{
    font-family:'Open-Sans','sans-serif','cursive';
    
    font-size:34px;
    font-weight:bolder;
    color:blue;
    text-decoration: none;
    margin:auto;
}
.sub-heading
{
    font-family:'Ubunto Mono','monospace';
}